__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.vcd
*.fst
*.out
*.log
*.jou
*.pb
*.wdb
results/reports/*.pdf
video/*.mp4
01_Challenge_1_Finalist_Requirements_and_Deadlines.docx.pdf
pmep_demo
vivado_project/
.Xil/
*.str
clockInfo.txt
rtl/synthesis/icestick/build/
rtl/synthesis_reports/icestick/schematic.dot
TDD_Modular_CubeSat_Electronics_FPGA.docx
FINAL_PHASE_WIN_PLAN.md
presentation/PRESENTATION_PLAN.md
